{% load drop_menu %}
<ul class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="true">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-bar-chart"></i>
            <p>Статистика</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-currency-dollar"></i>
            <p>Касса</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-file-earmark"></i>
            <p>Квитанции на оплату</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-credit-card"></i>
            <p>Лицевые счета</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-building"></i>
            <p>Квартиры</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-people-fill"></i>
            <p>Владельцы квартир</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-houses"></i>
            <p>Дома</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-envelope"></i>
            <p>Сообщения</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-wrench-adjustable"></i>
            <p>Заявки вызова мастера</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-speedometer2"></i>
            <p>Показания счетчиков</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon bi bi-display"></i>
            <p class="block-text">
                <span>Управление сайтом</span>
                <i class="fas fa-caret-right right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview =">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Главная страница</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>О нас</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Услуги</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Тарифы</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Контакты</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item {% menu_active 'payment_items' 'payment_details' 'service_settings' 'roles' 'payment_items_add' 'payment_items_edit' 'tariffs' 'tariffs_add' 'tariffs_edit' 'tariffs_copy' %}">
        <a href="#" class="nav-link ">
            <i class="nav-icon bi bi-gear"></i>
            <p class="block-text">
                <span>Настройки системы</span>
                <i class="fas fa-caret-right right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item {% link_active 'service_settings' %}">
                <a href="{% url 'service_settings' %}" class="nav-link">
                    <p>Услуги</p>
                </a>
            </li>
            <li class="nav-item {% link_active 'tariffs' %}">
                <a href="{% url 'tariffs' %}" class="nav-link">
                    <p>Тарифы</p>
                </a>
            </li>
            <li class="nav-item {% link_active 'roles' %}">
                <a href="{% url 'roles' %}" class="nav-link">
                    <p>Роли</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Пользователи</p>
                </a>
            </li>
            <li class="nav-item {% link_active 'payment_details' %}">
                <a href="{% url 'payment_details' %}" class="nav-link">
                    <p>Платежные реквизиты</p>
                </a>
            </li>
            <li class="nav-item {% link_active 'payment_items' %}">
                <a href="{% url 'payment_items' %}" class="nav-link">
                    <p>Статьи платежей</p>
                </a>
            </li>
        </ul>
    </li>
</ul>
