{% extends "base_adminlte.html" %}
{% load static %}
{% block head %}
    <title>Редактирование страницы</title>
    <meta name="description" content="Редактирование страницы">
    <meta name="keywords" content="Редактирование страницы">
    <link rel="stylesheet"
          href="{% static 'adminlte/dist/css/main_page.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte/dist/css/wysihtml5.menu.css' %}">
{% endblock head %}
{% block title %}
    <h1>Редактирование страницы</h1>
{% endblock title %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Редактирование страницы "Главная"</h3>
            <div class="box-tools">
                <button class="btn btn-default btn-sm" id="update-robots-button">
                    <span class="hidden-xs">Оновити robots і sitemap</span>
                    <i class="fa fa-refresh visible-xs" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form id="main-page-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="page-header">Слайдер</h3>
                <div class="row" id="slides">
                    {{ main_blocks.management_form }}
                    {{ main_page.slide1.id }}
                    <div class="col-md-4">
                        <h4>Слайд 1</h4>
                        {% if main_page.instance.slide1 %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="{{ main_page.instance.slide1.url }}"
                                 alt="Slide">
                        {% else %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="https://placehold.co/1920x800"
                                 alt="Slide">
                        {% endif %}
                        <div class="form-group">
                            <label for="{{ main_page.slide1.id_for_label }}">{{ main_page.slide1.label }}</label>
                            {{ main_page.slide1 }}
                        </div>
                    </div>
                    {{ main_page.slide2.id }}
                    <div class="col-md-4">
                        <h4>Слайд 2</h4>
                        {% if main_page.instance.slide2 %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="{{ main_page.instance.slide2.url }}"
                                 alt="Slide">
                        {% else %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="https://placehold.co/1920x800"
                                 alt="Slide">
                        {% endif %}
                        <div class="form-group">
                            <label for="{{ main_page.slide2.id_for_label }}">{{ main_page.slide2.label }}</label>
                            {{ main_page.slide2 }}
                        </div>
                    </div>
                    {{ main_page.slide3.id }}
                    <div class="col-md-4">
                        <h4>Слайд 3</h4>
                        {% if main_page.instance.slide3 %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="{{ main_page.instance.slide3.url }}"
                                 alt="Slide">
                        {% else %}
                            <img width="100%"
                                 height="100%"
                                 class="slide-image"
                                 src="https://placehold.co/1920x800"
                                 alt="Slide">
                        {% endif %}
                        <div class="form-group">
                            <label for="{{ main_page.slide3.id_for_label }}">{{ main_page.slide3.label }}</label>
                            {{ main_page.slide3 }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ main_page.id }}
                        <h3 class="page-header">Краткая информация</h3>
                        <div class="form-group">
                            <label for="{{ main_page.title.id_for_label }}">{{ main_page.title.label }}</label>
                            {{ main_page.title }}
                        </div>
                        <div class="form-group">
                            <label for="{{ main_page.description.id_for_label }}">{{ main_page.description.label }}</label>
                            {{ main_page.description|safe }}
                        </div>
                        <div class="form-group">
                            {{ main_page.is_url_application }}
                            <label for="{{ main_page.is_url_application.id_for_label }}">{{ main_page.is_url_application.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="blocks">
                    {{ blocks.management_form }}
                    <div class="col-sm-12">
                        <h3 class="page-header">Рядом с нами</h3>
                    </div>
                    {% for block in main_blocks %}
                        {% if forloop.counter <= 6 %}
                            {{ block.id }}
                            <div class="col-md-4">
                                <h4>Блок {{ forloop.counter }}</h4>
                                {% if block.instance.main_image %}
                                    <img width="511.333px"
                                         height="306.8px"
                                         class="block-image"
                                         src="{{ block.instance.main_image.url }}"
                                         alt="Block">
                                {% else %}
                                    <img width="511.333px"
                                         height="306.8px"
                                         class="block-image"
                                         src="https://placehold.co/1000x600"
                                         alt="Block">
                                {% endif %}
                                <div class="form-group">
                                    <label>{{ block.main_image.label }}</label>
                                    {{ block.main_image }}
                                </div>
                                <div class="form-group block-title">
                                    <label>{{ block.title.label }}</label>
                                    {{ block.title }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ block.description.id_for_label }}">{{ block.description.label }}</label>
                                    {{ block.description|safe }}
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-header">Настройки SEO</h3>
                        <div class="form-group">
                            <label for="{{ seo.title.id_for_label }}">{{ seo.title.label }}</label>
                            {{ seo.title }}
                        </div>
                        <div class="form-group">
                            <label for="{{ seo.description.id_for_label }}">{{ seo.description.label }}</label>
                            {{ seo.description }}
                        </div>
                        <div class="form-group">
                            <label for="{{ seo.keywords.id_for_label }}">{{ seo.keywords.label }}</label>
                            {{ seo.keywords }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-12 text-center">
                        <div class="form-group">
                            <a href="{% url 'main_page' %}" class="btn btn-default">Відмінити</a>
                            <button id="submit-button" type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'adminlte/dist/js/wysiwyg.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
    <script src="https://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/jquery-1.7.2.min.js"></script>
    <script src="https://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/prettify.js"></script>
    <script src="https://jhollingworth.github.io/bootstrap-wysihtml5/lib/js/bootstrap.min.js"></script>
    <script src="{% static 'adminlte/dist/js/bootstrap-wysihtml5.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('textarea.wysihtml5').wysihtml5({
                toolbar: {
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": true,
                    "link": false,
                    "image": false,
                    "blockquote": true
                },
            });
        });


    </script>
{% endblock scripts %}
